/* Coolors Exported Palette - coolors.co/2a2b2a-f26430-ffe500-a037fc-2f242c */

/* HSL */
$color1: hsla(120%, 1%, 17%, 1);
$color2: hsla(16%, 88%, 57%, 1);
$color3: hsla(54%, 100%, 50%, 1);
$color4: hsla(272%, 97%, 60%, 1);
$color5: hsla(316%, 13%, 16%, 1);

/* RGB */
$closeBlack: rgba(42, 43, 42, 1);
$orange: rgba(242, 100, 48, 1);
$brightYello: rgba(255, 229, 0, 1);
$royalPurple: rgba(160, 55, 252, 1);
$blackPurple: rgba(47, 36, 44, 1);